<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <section>
        <p>La suma de {{valora}} + {{valorb}} = {{suma}} </p>
        <p>la lista es: {{lista}}</p>
        <pre>La fecha de hoy es: 
            Mes: {{fecha.day}} 
            Dia:{{fecha.month}}
            Año:{{fecha.year}}
        </pre>
    </section>
</body>
</html>